* {
	padding: 0;
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}

#wrapper{
	width: 100%;
	background-color: blue;
}

#intro{
	height: 700px;
	background-color: yellow;
	position: relative;
}

#menu{
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 20px;
	padding-right: 20px;
	width: 70px;
	height: 70px;
	background-color: red;
}

#perfil{
	padding-top: 40px;
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

#profileImg{
	width: 300px;
	height: 300px;
	border-radius: 200px;
	background-color: black;
	margin: 0 auto;
}

#acerca{
	height: 700px;
	background-color: gray;
}

#acerca h1{
	border-style: solid;
	border-color: transparent;
	border-bottom-color: black;
	text-align: center;
}

#descripcion{
	width: 550px;
	height: 640px;
	float: left;
	margin: 20px;
	padding-right: 20px;
	border-style: solid;
	border-color: transparent;
	border-right-color: black;
}

#contacto{
	width: 550px;
	height: 640px;
	float: right;
	margin: 20px;
	padding-right: 20px;
}

#datos{

}

#datos h1{
	border-style: solid;
	border-color: transparent;
	border-bottom-color: black;
	text-align: center;
}

#proyectos{
	height: 800px;
	background-color: green;
}

#proyectos h1{
	border-bottom-style: solid;
	text-align: center;
}

.proyectoImg{
	background-color: black;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.proyecto{
	width: 400px;
	height: 400px;
	padding-top: 200px;
	float: left;
	text-align: center;
	padding-left: 20px;
}

#galeria{
	height: 800px;
	background-color: gray;
}

.thumb{
	background-color: black;
	width: 200px;
	height: 200px;
	float: left;
	margin: 20px;
}

#galeria h1{
	border-bottom-style: solid;
	text-align: center;
}

#pasatiempos{
	height: 250px;
	background-color: white;
}

.pasatiempoImg{
	background-color: black;
	width: 100px;
	height: 100px;
	padding: 10px;
}

.pasatiempo{
	padding: 20px;
	float: left;
	margin: 0 auto;
}

#pasatiempos h1{
	border-bottom-style: solid;
	text-align: center;
}

#contenedor{
	width: 700px;
	margin: 0 auto;
}

footer{
	background-color: gray;
	width: 100px;
}