* {
	padding: 0;
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}

#wrapper{
	width: 100%;
}

#intro{
	height: 700px;
	position: relative;
}

#videoIntro{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;   
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);  
  z-index: -100;
  background-size: cover;
  opacity: ;
}


#menu{
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 20px;
	padding-right: 20px;
	width: 70px;
	height: 70px;
}

/* Dropdown Button */
.dropbtn {

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    right: 15px;
    top: 15px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 101px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .icon-menu {
   background-color: black;

  	-webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    transition: background-color 500ms;
}


.icon-menu{
	font-size: 60px;
	color: white;
	line-height: 20%;
    padding: 16px;
    border: none;
    cursor: pointer;
}

#perfil{
	padding-top: 150px;
	width: 400px;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-size: 20px;
}

#profileImg{
	width: 300px;
	height: 300px;
	border-radius: 200px;
	background-image: url("../img/profile.jpg");
	background-position: center;
	background-size: 100%;
	margin: 0 auto;
	border-style: solid;
	border-color: white;
}

#acerca{
	height: 700px;
	background-color: #DCDCE0;
}

#acerca h1{
	color: rgb(71, 95, 119);
	border-style: solid;
	border-color: transparent;
	border-bottom-color: black;
	text-align: center;
}

#descripcion{
	width: 550px;
	height: 640px;
	float: left;
	margin: 20px;
	padding-right: 78px;
	padding-left: 40px;
	border-style: solid;
	border-color: transparent;
	border-right-color: black;
}

#descripcion p{
	padding-top:20px;
	text-align:center;
	font-size: 20px;
}

#contacto{
	width: 550px;
	height: 640px;
	float: right;
	margin: 20px;
	padding-right: 20px;
}

#formacion{
	padding-top: 30px;
}

#datos h1{
	border-style: solid;
	border-color: transparent;
	border-bottom-color: black;
	text-align: center;
}

#proyectos{
	height: 800px;
	background-color: green;
}

#proyectos h1{
	border-bottom-style: solid;
	text-align: center;
}

.proyectoImg{
	background-color: black;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.proyecto{
	width: 400px;
	height: 400px;
	padding-top: 200px;
	float: left;
	text-align: center;
	padding-left: 20px;
}

#galeria{
	height: 800px;
	background-color: gray;
}

.thumb{
	background-color: black;
	width: 200px;
	height: 200px;
	float: left;
	margin: 20px;
}

#galeria h1{
	border-bottom-style: solid;
	text-align: center;
}

#pasatiempos{
	height: 250px;
	background-color: rgb(71, 95, 119);
}

.pasatiempoImg{
	background-color: black;
	width: 100px;
	height: 100px;
	padding: 10px;
}

.pasatiempo{
	padding: 20px;
	float: left;
	margin: 0 auto;
}

#pasatiempos h1{
	border-bottom-style: solid;
	text-align: center;
}

#contenedor{
	width: 700px;
	margin: 0 auto;
}

footer{
	background-color: gray;
	width: 100px;
}

.acercaIcon{
	width: 100%;
}
.acercaIcon *{
	float: left;
	padding: 10px;
	font-size: 30px;
}

.acercaIcon i{
	padding-top: 18px;
}